<!-- <hr />
<div class="container">
  <button
    type="button"
    class="btn btn-info btn-sm pull-right"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    Add New
  </button>
  <h2>All products</h2>
  <span class="clearfix"></span>
  <hr />

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ProductId</th>
        <th>ProductName</th>
        <th>Description</th>
        <th>categoryId</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of ProductContainer">
        <td>{{ product.ProductId }}</td>
        <td>{{ product.ProductName }}</td>
        <td>{{ product.Description }}</td>
        <td>{{ product.CategoryId }}</td>
        <td>
          <button
            type="button"
            class="btn btn-info btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#exampleModalEdit"
          >
            Edit
          </button>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-danger btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#exampleModalDelete"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          New User Regestration
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">

        <form ngSubmit="onSubmit()">
          <div class="form-group row">
            <label for="inputProductId" class="col-sm-2 col-form-label"
              >ProductId</label
            >
            <div class="col-sm-10">
              <input
                type="number"
                class="form-control"
                id="inputProductId"
                placeholder="ProductId"
                [(ngModel)]="ProductId"
                name="ProductId"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="inputProductName" class="col-sm-2 col-form-label"
              >Name</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="inputProductName"
                placeholder="ProductName"
                [(ngModel)]="ProductName"
                name="ProductName"
              />
            </div>

            <label for="inputProductDescription" class="col-sm-2 col-form-label"
              >Description</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="inputProductDescription"
                placeholder="ProductDescription"
                [(ngModel)]="Description"
                name="Description"
              />
            </div>
            <label for="inputCategoryId" class="col-sm-2 col-form-label"
              >CategoryId</label
            >
            <div class="col-sm-10">
              <input
                type="number"
                class="form-control"
                id="inputCategoryId"
                placeholder="CategoryId"
                [(ngModel)]="CategoryId"
                name="CategoryId"
              />
            </div>
          </div>
          <fieldset class="form-group">
            <div class="row"></div>
          </fieldset>
          <div class="form-group row"></div>
          <div class="form-group row">
             <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div
  class="modal fade"
  id="exampleModalEdit"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit this User</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">

        <form>
          <div class="form-group row">
            <label for="inputProductId" class="col-sm-2 col-form-label"
              >ProductId</label
            >
            <div class="col-sm-10">
              <input
                type="number"
                class="form-control"
                id="inputProductId"
                placeholder="ProductId"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="inputProductName" class="col-sm-2 col-form-label"
              >Name</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="inputProductName"
                placeholder="ProductName"
              />
            </div>

            <label for="inputProductDescription" class="col-sm-2 col-form-label"
              >Description</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="inputProductDescription"
                placeholder="ProductDescription"
              />
            </div>
            <label for="inputCategoryId" class="col-sm-2 col-form-label"
              >CategoryId</label
            >
            <div class="col-sm-10">
              <input
                type="number"
                class="form-control"
                id="inputCategoryId"
                placeholder="CategoryId"
              />
            </div>
          </div>
          <fieldset class="form-group">
            <div class="row"></div>
          </fieldset>
          <div class="form-group row"></div>
          <div class="form-group row">
       <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div
  class="modal fade"
  id="exampleModalDelete"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete this User</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">

        <strong style="color: red">Are you sure?</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Yes
        </button>
        <button type="button" class="btn btn-info">No</button>
      </div>
    </div>
  </div>
</div> -->
<button routerLink="">Home</button>
<router-outlet></router-outlet>
